body {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    font-size: 12px;
    background: black;
    color: white;
    margin: 0 0 0 10px;
    padding: 0;
}

video {
    background-image: url('/public/misc/poster.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 128px 128px;
}

.ui {
    display: none;
    margin: 0 auto;
}
.uiInput {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    border: none;
    background: black;
    font-size: 15px;
    outline: none;
    color: white;
    border-bottom: 1px white solid;
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.uiButton, .uiSelect {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    border: none;
    font-size: 15px;
    color: white;
    background: black;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    cursor: pointer;
}
.uiButton:hover{
    background: white;
    color: black;
}
.chatInput {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    font-size: 12px;
    color:white;
    background: black;
    border: none;
    width: calc(100% - 30px);
    outline: none;
}

a {
    color:white;
    text-decoration: none;
}

.player{
    overflow: hidden;
}
.uiPlayer{
    margin-top: 10px;
    overflow: hidden;
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    font-size: 15px;
    text-align: center;
}

.nodisplay {
    display: none;
}

.logo {
    margin-bottom: 7px;
}
.logo .last{
    opacity: 0.2;
}

.logo span {
    letter-spacing: -21px;
    transition: all 600ms linear;
}
.logo pre {
    font-size: 10px;
    transition: all 600ms linear;
    display: inline-block;
    margin-right: -14px;
    margin-top: -5px;
    color: rgba(255, 255, 255, 1);
}

.warning {
    color: #e74c3c;
}

.lightred{
    color: #EE7676;
}

.green {
    color: #2ecc71;
}

.lightgreen{
    color: #4A8864;
}

.lightergreen{
    color: #83D1A4;
}

.white {
    color: white;
}

.orange {
    color: #e67e22;
}

.purple{
    color: #9A7DE2;
}

.grey {
    color: #ccc;
}

.lightgrey{
    color: #aaa;
}

.cline {
    padding: .1em 0;
    margin: 0;
}

.cline.d {
  text-shadow: 0px 1px 1px #999;
}

.hr {
    border-top: dashed 1px;
    padding-bottom: 5px;
    color: #464646;
}

.online {
    margin-bottom: 7px;
}

.online .title {
    margin: 2px;
    padding: 2px;
    color: #666;
    border-bottom: 1px dashed #444;
}
.online .onlineList {
    padding: 5px;
    color: #C4956C;
    height: 12px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
