body {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    font-size: 12px;
    background: black;
    color: white;
    margin: 5px;
    padding: 0;
}

input[type=text] {
    font-family: 'Menlo Regular', 'Lucida Console', Monaco, monospace, 'Courier New', Fixed;
    font-size: 12px;
    color:white;
    background: black;
    border: none;
    width: calc(100% - 30px);
    outline: none;
}

a {
    color:white;
    text-decoration: none;
}

.nodisplay {
    display: none;
}

.logo {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}
.logo .last{
    opacity: 0.2;
}

.warning {
    color: #e74c3c;
}

.green {
    color: #2ecc71;
}

.lightgreen{
    color: #4A8864;
}

.white {
    color: white;
}

.orange {
    color: #e67e22;
}

.grey {
    color: #ccc;
}

.lightgrey{
    color: #aaa;
}

.cline {
    padding: .1em 0;
    margin: 0;
}

.cline.d {
  text-shadow: 0px 1px 1px #999;
}

.hr {
    border-top: dashed 1px;
    padding-bottom: 5px;
}

.logo span {
    letter-spacing: -21px;
    transition: all 600ms linear;
}

.online {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    border: 1px dashed #444;
    margin: 10px;
}

.online .title {
    margin: 2px;
    padding: 2px;
    color: #666;
    border-bottom: 1px dashed #444;
}
.online .onlineList {
    padding: 5px;
    color: #C4956C;
}
